

{{!-- PERSONAL TRIP / TRIPS YOU HAVE ATTENDED --}}

<section class="projects" id="projects">

    <h1>My Trips</h1>
    {{#each parsedTripsData as |data|}}
    <section class="mytrips">
        <h2><a href="/trip/{{trip_id}}">{{data.trip_name}}</a></h2>
        <h4>Destination: {{data.destination}}</h4>
        <h4>Date: {{format_date data.trip_date}}</h4>
        <img src="/images/{{data.trip_image}}" alt="{{data.trip_name}}">
    </section>
    {{/each}}
</section>
