<section>
    <h1>My Profile</h1>
    <h3>User Type: {{type}}</h3>
    <h3>Name: {{first_name}} {{last_name}}</h3>
    <h3>Nickname: {{nick_name}}</h3>
    <h3>Birthday: {{format_date date_of_birth}}</h3>
    <h3>Mobile Phone: {{mobile_phone}}</h3>
    <h3>Tier: {{tier}}</h3>
    <h3>HOG ID: {{HUG_id}}</h3>
    <h3>Email: {{email}}</h3>
</section>