<section>
    <h1>Profile Handlebars Test</h1>
    <p>This will be the handlebars file to render the user profile</p>
    <h2>{{type}}</h2>
    <h2>{{first_name}}</h2>
    <h2>{{last_name}}</h2>
    <h2>{{nick_name}}</h2>
    <h2>{{date_of_birth}}</h2>
    <h2>{{mobile_phone}}</h2>
    <h2>{{tier}}</h2>
    <h2>{{HUG_id}}</h2>
    <h2>{{email}}</h2>
</section>