{{!-- INFO FOR EACH TRIP/SINGLE --}}
<section class="trip-info">
    <h1>{{trip_name}}</h1>
    <div class="trip-image">
        <img src="/images/{{trip_image}}" alt="{{trip_name}}">
    </div>
    <div class="trip-briefing">
        <ul>
            <li>Destination: {{destination}}</li>
            <li>Date: {{format_date trip_date}}</li>
            <li>Trip Hours: {{trip_hours}}</li>
            <li>Trip Days: {{trip_days}}</li>
            <li>Trip Distance: {{trip_kms}} km</li>
            <li>Toll Cost: ${{toll_cost}} MXN</li>
            <li>Fuel Cost: ${{fuel_cost}} MXN</li>
            <li>Food Cost: ${{food_cost}} MXN</li>
            <li>Hotel Cost: ${{hotel_cost}} MXN</li>
            <li>Difficulty: Level {{difficulty_level}} Trip</li>
        </ul>
    </div>
    <button id="enroll-btn">Enroll</button>
</section>

<script src="/js/enrollToTrip.js"></script>